body{
    background-color: crimson;
}

.cbox{
    border:5px solid red;
  

}
.bbox{
border:5px solid greenyellow;
}
.dbox{
    border:5px solid black;
}
.ab
{
    
    border:2px solid black; 
    width:500px;
}

.f
{
border:1px solid crimson;

}
.opj
{
   background-color: crimson ;
}